<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale:1.0">
        <title>Gym Tracker - Analiza progresu</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <style>
            body {
                background-image: 
                    linear-gradient(rgba(240, 245, 245, 0.85), rgba(240, 245, 245, 0.85)), 
                    url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Arnold_Schwarzenegger_1974.jpg/500px-Arnold_Schwarzenegger_1974.jpg');
                background-size: cover;
                background-position: center top;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        </style>
    </head>
        <body>
            <div class="container mt-5">
                
                <!-- Główny nagłówek -->
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h1 class="display-4 fw-bold text-dark">Dziennik Treningowy</h1>
                            <div class="mt-3">
                                <a href="{% url 'add_workout' %}" class="btn btn-succes btn-lg shadow-sm">Dodaj nowy trenink</a>
                            </div>
                            <h2 class="text-muted">System analizy progresywnego przeładownia</h2>
                        </div>
                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                    <div class="card shadow border-0 mt-4 mb-5">
                        <div class="card-header bg-dark text-white">
                            <h5 class="mb-0">Progres siłowy: {{ target_exercise }}</h5>
                        </div>
                            <div class="card-body">
                            <canvas id="progressChart" height="100"></canvas>
                        </div>
                    </div>

                    <script>
                        const labels = {{ dates_json|safe }};
                        const data = {{ weights_json|safe }};
                        const ctx = document.getElementById('progressChart').getContext('2d');
                        new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Maksymalny ciężar (kg)',
                                    data: data,
                                    borderColor: 'rgba(220, 53, 69, 1)',
                                    backgroundColor: 'rgba(220, 53, 69, 0.2)',
                                    borderWidth: 3,
                                    tension: 0.3,
                                    fill: true,
                                    pointBackgroundColor: 'rgba(220, 53, 69, 1)',
                                    pointRadius: 5
                                }]
                            },
                            options: {responsive: true, scales: {y: {beginAtZero: false } } }
                        });

                    </script>

                    <!-- Tabela z danymi -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow-sm border-0">
                                <div class="card-body p-0">
                                    <table class="table table-hover mb-0">
                                        <thead class="table-dark">
                                            <tr>
                                                <th class="ps-4">Data kreningu</th>
                                                <th>Partia mięłsniowa</th>
                                                <th>Szczegóły wykonania (Zestawienie serii)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- pętla Django - przechodzi przez każdy trening z bazy -->
                                             {% for workout in workouts %}
                                             <tr>
                                                <td class="align-middle ps-4 fw-bold">{{ workout.date|date:"d.m.Y" }}</td>
                                                <td class="align-middle">
                                                    <span class="badge bg-primary fs-6">{{ workout.target_muscle }}</span>
                                                    <a href="{% url 'workout_detail' workout.pk %}" class="btn btn-sm btn-outline-primary ms-2">Otwórz sesję</a>
                                                </td>
                                                <td class="py-3">
                                                    <ul class="list-unstyled mb-0">
                                                        <!-- Zagnieżdżona pętla - wyciąga wszystkie serie dla danego treningu -->
                                                         {% for set in workout.sets.all %}
                                                         <li class="mb-1 border-bottom pb-1">
                                                            <span class="badge bg-secondary me-2">Seria {{ set.set_number }}</span>
                                                            <span class="fw-semibold">{{ set.exercise }}</span> &mdash;
                                                            <span class="text-danger fw-bold">{{ set.weight }} kg</span>
                                                            x {{ set.reps}} powt.
                                                         </li>
                                                         {% endfor %}
                                                    </ul>
                                                </td>
                                             </tr>
                                             <!-- Jeśli baza jest pusta, pokażemy ten komunikat -->
                                              {% empty %}
                                              <tr>
                                                <td colspan="3" class="text-center text-muted py-5">
                                                <h4>Brak treningów w bazie</h4>
                                                <p>Czas wybrać się na siłownie i wygenerować dane</p>
                                                </td>
                                              </tr>
                                              {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </body>
</html>